# Ide generated folders
.idea/*
.vscode/*

# Compiled codes
__pycache__/

# Jupyter notebook stuff
*.ipynb
ipynb_checkpoints/
.ipynb_checkpoints/
.ipynb_checkpoints/*

# Log files
*.out
*.Log

# Distribution
*.egg-info
*.egg


# Environments
.env
.venv
env/
venv/
dev_venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# tox / pytest / coverage reports
.tox
*/.tox
.pytest_cache/
.coverage
.coverage.*